In [ ]:
#Integer, Float, String
a = 123
b = 123.0
c = "Shafay12@#90"

1623478612387462198746196482734684523453462456345646754675478485678698709808909687647464

In [ ]:
a = 2121
b = 5796
c = 5796
d = 10000
if d < a:
  print("Cod")
elif c > d:
  print("Incorrect")
else:
  print("2CORRECT")

2CORRECT

In [ ]:
d = "pepsi"
if d == "Fanta":
  print("F")
elif d == "Coke":
  print("c")
else:
  print("Pepsi")

Pepsi

In [ ]:
shafay = 12
usama = 12
if shafay > usama:
  print("Shafay is a senior person")
elif shafay < usama:
  print("Usama is senior")
else:
  print("Hamna is a most senior person")

Hamna is a most senior person

In [ ]:
Subject096 = 1000
Subject312 = 979
Subject121 = 576
Subject159 = 468
if Subject312 < Subject096:
  print(2102)
elif Subject312 > Subject096:
  print("Teken49")

2102

In [ ]:
a = "GTAV"
b = "Minecraft"
c = "Roblox"
d = "Call Of Duty"
if a == "Pubg":
  print("Correct")
elif b == "Forza":
  print("Brute")
elif d == "Call Of Duty":
  print("127562162754216256421632754612627568126726128978")
else:
  print(8788)

127562162754216256421632754612627568126726128978

In [ ]:
a = 4
if a % 2 == 0:
  print("Number Is Even")
else:
  print("Number Is Odd")

Number Is Even

In [ ]:
num = 1
while(num <= 10):
  ans = 2 * num
  print("2 * ", num, "=", ans )
  num = num + 1

2 *  1 = 2
2 *  2 = 4
2 *  3 = 6
2 *  4 = 8
2 *  5 = 10
2 *  6 = 12
2 *  7 = 14
2 *  8 = 16
2 *  9 = 18
2 *  10 = 20

In [ ]:
num = 1
while(num <= 20):
  print("Happy Birthday Shafay", num)
  num = num + 1

Happy Birthday Shafay 1
Happy Birthday Shafay 2
Happy Birthday Shafay 3
Happy Birthday Shafay 4
Happy Birthday Shafay 5
Happy Birthday Shafay 6
Happy Birthday Shafay 7
Happy Birthday Shafay 8
Happy Birthday Shafay 9
Happy Birthday Shafay 10
Happy Birthday Shafay 11
Happy Birthday Shafay 12
Happy Birthday Shafay 13
Happy Birthday Shafay 14
Happy Birthday Shafay 15
Happy Birthday Shafay 16
Happy Birthday Shafay 17
Happy Birthday Shafay 18
Happy Birthday Shafay 19
Happy Birthday Shafay 20

In [ ]:
a = 6565
b = 66
if a % 2 == 0:
  print("Even")
else:
  print("Odd")

Odd

In [ ]:
if b % 2 == 0:
  print("Even")

Even

In [ ]:
num = 1
while (num <= 5):
  print(num)
  num = num + 1

1
2
3
4
5

In [ ]:
num = 1
while (num <= 10):
  print("A",num)
  num = num + 1

A 1
A 2
A 3
A 4
A 5
A 6
A 7
A 8
A 9
A 10

In [ ]:
num = 1
while (num <= 10):
  ans = num * 2
  print( " 2 * " , num , "=" , ans)
  num = num + 1

 2 *  1 = 2
 2 *  2 = 4
 2 *  3 = 6
 2 *  4 = 8
 2 *  5 = 10
 2 *  6 = 12
 2 *  7 = 14
 2 *  8 = 16
 2 *  9 = 18
 2 *  10 = 20

In [ ]:
num = 1
while (num <= 9):
  ans = num + 2
  print(num)
  num = num + 2

1
3
5
7
9

In [ ]:
num = 1
while (num <= 10):
  if num % 2 == 0:
    print(num, "Even")
  else:
    print(num, "Odd")
  num = num + 1

1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even

In [ ]:
num = 0
while (num <= 10):
  print(num)
  num = num + 5

0
5
10

In [ ]:
num = 0
for i in range(5):
  print(num)
  num = num + 1

0
1
2
3
4

In [ ]:
#Array
arr = [12,23,"saja",12.2]
print(arr[3])

12.2

In [ ]:
print(len(arr))

4

In [ ]:
for i in range(len(arr)):
  print(arr[i])

12
23
saja
12.2

In [ ]:
arr2 = [12,15,17,18,20,789,250]
for i in range(len(arr2)):
  if (arr2[i] % 2 == 0):
    print(arr2[i], "Even")
  else:
    print(arr2[i], "odd")

12 Even
15 odd
17 odd
18 Even
20 Even
789 odd
250 Even

In [ ]:
arr2 = [12,15,17,18,20,789,250]
arr2.append("shafay")
print(arr2)
arr2.append("humnah")

[12, 15, 17, 18, 20, 789, 250, 'shafay']

In [ ]:
print(arr2)

[12, 15, 17, 18, 20, 789, 250, 'shafay', 'humnah']

In [ ]:
arrNum = [12,13,14,16,17,48,10,28,39]
evenNum = []
oddNum = []
for i in range(len(arrNum)):
  if (arrNum[i] % 2 == 0):
    evenNum.append (arrNum[i])
  else:
    oddNum.append (arrNum[i])

In [ ]:
print(evenNum)
print(oddNum)

[12, 14, 16, 48, 10, 28]
[13, 17, 39]

declare an array of some numbers and 2 more empty arrays 1 smalll num array one graet num array 1-100 -50 = small +50 great

In [ ]:
arrGr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
GreatNum = []
SmallNum = []
for i in range(len(arrGr)):
  if (arrGr[i] <= 50):
     SmallNum.append (arrGr[i])
  else:
    GreatNum.append (arrGr[i])

In [ ]:
print(GreatNum)
print(SmallNum)

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [ ]:
a = []
for i in range(101):
  a.append (i)

In [ ]:
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
for i in range(len(a)):
  if a[i] == 81:
    print(i)

81

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
a = []
for i in range(1,100,2):
  a.append(i)
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
ind = []
target = 1
for i in range(len(a)):
  num = str(target) + "1"
  if int(num) == a[i]:
    ind.append(i)
    target = target + 1
print(ind)

[5, 10, 15, 20, 25, 30, 35, 40, 45]

# Count the number of appearance of the elements which end with 9 from The array "a"

In [ ]:
arr = [0, 1, 2, 3, 4]
print ("The given array is: ")
print (arr)

# Finding length of the given array
size = len(arr)
print ("The length of array is: ")
print (size)

The given array is:
[0, 1, 2, 3, 4]
The length of array is:
5

In [ ]:
arr2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
len(arr2)

11

In [ ]:
import numpy as np

arr = np.array([0, 1, 2, 3, 4])
print ("The given array is: ")
print (arr)


# Finding length of the given array
size = arr.size
print ("The length of array is: ")
print (size)

The given array is:
[0 1 2 3 4]
The length of array is:
5

In [ ]:
a = []
for i in range(1,100,2):
  a.append(i)
print(a)

In [ ]:
arr5 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
nine = []
other = []
for i in range(len(arr5)):
  if (arr5[i] % 10 == 9):
    nine.append (arr5[i])
  else:
    other.append (arr5[i])

In [ ]:
print(nine)

[9, 19, 29, 39, 49, 59, 69, 79, 89, 99]

In [ ]:
index = [9, 19, 29, 39, 49, 59, 69, 79, 89, 99, 69]
for i in range(len(index)):
  if (index[i] == 69):
    print(i)
    break

6

In [ ]:
index2 = [4,5,7,5,5,5,5,7,78,9,6,5,4,7]
for i in range(len(index2)):
  if (index2[i] == 7):
    print(i)
    break

2

In [ ]:
index2 = [4,5,7,5,5,5,5,7,78,9,6,5,4,7]
for i in range(len(index2)):
  if (index2[i] == 7):
    print(i)

2
7
13

# Dictionaries

In [ ]:
a = {"Math": 23, "CS": 24, "Sc": 22}
print(a["Sc"])
a["Math"] = 17
print(a)
a["Robotics"] = 78
print(a)

22
{'Math': 17, 'CS': 24, 'Sc': 22}
{'Math': 17, 'CS': 24, 'Sc': 22, 'Robotics': 78}

In [ ]:
arr = [12,23,12,24,34,23,12]
dic = {}
for i in range(len(arr)):
  if arr[i] in dic:
    dic[arr[i]] = dic[arr[i]] + 1
  else:
    dic[arr[i]] =  1

print(dic)

{12: 3, 23: 2, 24: 1, 34: 1}

# Diclare an array of strings and calculate the apperance of each string

In [ ]:
arr8 = ["Coke", "Pepsi", "Cheetos", "Pepsi", "Cheetos", "Coke", "Cheetos", "mentos"]
dic = {}
for i in range(len(arr8)):
  if arr8[i] in dic:
    dic[arr8[i]] = dic[arr8[i]] + 1
  else:
    dic[arr8[i]] = 1
print(dic)

{'Coke': 2, 'Pepsi': 2, 'Cheetos': 3, 'mentos': 1}

In [ ]:
arr = [12,34,56,76]

In [ ]:
for i in range(len(arr)):
  print(arr[i])

12
34
56
76

In [ ]:
print(arr2[2][1])

34

In [ ]:
arr2 = [[12,23,34],[26,26,27],[27,34,12]]

In [ ]:
dic = {}
for i in range(len(arr2)):
  for j in range(len(arr2[i])):
    if arr2[i][j] in dic:
      dic[arr2[i][j]] = dic[arr2[i][j]] + 1
    else:
      dic[arr2[i][j]] = 1
print(dic)

{12: 2, 23: 1, 34: 2, 26: 2, 27: 2}

In [ ]:
for i in range(7):
  print(i)

0
1
2
3
4
5
6

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
number = int(input("Enter a number: "))
result = factorial(number)
print("The factorial of", number, "is", result)

Enter a number: 5
The factorial of 5 is 120

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

n = int(input("Enter a number: "))
prime_numbers = [num for num in range(2, n+1) if is_prime(num)]
print("Prime numbers up to", n, "are:", prime_numbers)

Enter a number: 10
Prime numbers up to 10 are: [2, 3, 5, 7]

In [ ]:
arr = [12,23,31,25]
for i in arr:
  if i % 2 == 0:
    print(i, "Even")
  else:
    print(i, "Odd")

12 Even
23 Odd
31 Odd
25 Odd

In [ ]:
for i in range(len(arr)):
  if arr[i] % 2 == 0:
    print(arr[i], "Even")
  else:
    print(arr[i], "Odd")

12 Even
23 Odd
31 Odd
25 Odd

In [ ]:
arr2 = [12,13,14,15,16,18]
for i in range(len(arr2)):
  if 17 < arr2[i]:
    arr2.insert(i,17)
    break

print(arr2)

[12, 13, 14, 15, 16, 17, 18]

In [ ]:
arr = [15, 16, 17, 18, 20, 21]
for i in range(len(arr)):
  if 19 < arr[i]:
    arr.insert(i,19)
    break


print(arr)

[15, 16, 17, 18, 19, 20, 21]